<h2 class="display-4 mx-3">Items in Your Personal Suitcase</h2>

{{#each items}}
<div class="row mx-5 my-2">
    <div class="col-1">{{item}} </div>{{!-- Homepage delete item button --}}
    <button class="delete-item-button btn btn-danger col-1" data-item="{{id}}">Delete Item</button>
</div>
{{/each}}

{{!-- Homepage add item button --}}
<div>
    <form class="add-item-form mx-5">
        <div class="item-select">
            <label for="add-item">Search items:</label>

            <input class="awesomplete" id="get-items" data-minchars="1" />
            <div class="button-container">
                <a><button class="standard-button btn btn-success" id="add-item-button ">Add Item</button></a>
            </div>
        </div>
    </form>
</div>



{{!-- Homepage go to other's social suitcase button --}}
<div class="button-container">
    <a href="/social-suitcase" id="view-social-suitcase"><button class="standard-button">View Other's Social
            Suitcase</button></a>
</div>


{{!-- Display saved locations --}}
{{#each locations}}
<div>
    <a href="location/{{id}}"><button>View {{country_state}} Suitcase</button></a> {{!-- Homepage delete item button --}}
    <button class="delete-location-button" data-location="{{id}}">Delete Location</button>
</div>
{{/each}}


{{!-- Add location to profile --}}
<div>
    <form class="add-location-form">
        <div class="location-select">
            <label for="add-location">Search locations:</label>

            <input class="awesomplete" id="get-locations" data-minchars="1" />
            <div class="button-container">
                <a><button class="standard-button" id="add-location-button">Add Location</button></a>
            </div>
        </div>
    </form>
</div>

<script src="/js/items.js" type="module"></script>
<script src="/js/locations.js" type="module"></script>