<h2 class="location-social-header display-4 mx-3 pb-5 text-center" data-location="{{location.id}}">Social Suitecase for
    <span style="font-weight: bold;">{{location.country_state}}</span>
</h2>

{{!-- Go back to my location specific suitcase --}}
<div class="button-container d-flex justify-content-center align-items-center">
    <a href="/location/{{location.id}}" id="view-location-suitcase"><button
            class="standard-button btn btn-primary mb-3">Go
            Back to my
            {{location.country_state}} Suitcase </button></a>
</div>


{{!-- List of items --}}
<div class="container ">

    {{#each items}}
    <div
        class="row d-flex justify-content-center align-items-center border border-0 rounded-1 m-1 p-1 bg-body-secondary text-black">
        <div class="col-md-1"></div>
        {{!-- Message to end user about how many people packed the item --}}
        <div class="col-md-3"> <span style="font-weight: bold;">{{count}}</span> individual(s) packed this: <span
                style="font-weight: bold;">{{item}}</span></div>

        {{!-- Social Suitcase add item to personal suitcase button --}}
        <div class="col-md-3"><button class="add-personalLocation-item btn btn-success my-1" data-item="{{item_id}}">Add
                Item to My Personal Suitcase</button>
        </div>

        {{!-- Social Suitcase add item to location suitcase button --}}
        <div class="col-md-3">
            <button class="add-socialLocation-item btn btn-success" data-item="{{item_id}}"
                data-location="{{../location.id}}">Add Item to My
                {{../location.country_state}} Suitcase</button>
        </div>

        <div class="col-md-1"></div>
    </div>
    {{/each}}
</div>


<script src="/js/itemSocialLocation.js" type="module"></script>