<h2 class="location-personal-header display-4 mx-3 pb-5 text-center" data-location="{{location.id}}">Your Suitecase for
    <span style="font-weight: bold;">{{location.country_state}}</span>
</h2>

<div class="container">
    {{!-- Location specific go to other's social suitcase button --}}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-5">
            <div class="button-container my-5">
                <a href="/social-suitcase/location/{{location.id}}" id="view-locationsocial-suitcase"><button
                        class="standard-button btn btn-primary">View Other's Social
                        Suitcase for this Location</button></a>
            </div>

            {{!-- Location specific add item button --}}
            <div class="container">
                <form class="add-itemLocation-form">
                    <div class="item-select">
                        <label class="row" for="add-item">Search items:</label>
                        <div class="row">
                            <div class="col-xxl-6 my-1">
                                <input class="awesomplete" id="get-items" data-minchars="1" />
                            </div>
                            <div class="button-container col-xxl-6 my-1">
                                <a><button class="standard-button btn btn-success" id="add-item-button">Add
                                        Item</button></a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
        {{!-- Location specific delete item button --}}
        <div class="col-md-5">
            <div class="container">
                {{#each items}}
                <div class="row border border-0 rounded-1 m-1 p-1 bg-body-secondary text-black">
                    <div class="col-md-8 my-1 fs-5">{{item}}</div>
                    <button class="delete-itemLocation-button btn btn-danger col-md-4 my-1" data-item="{{id}}">Delete
                        Item</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>







<script src="/js/itemLocation.js" type="module"></script>